<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="umlmm_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="umlmm_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="umlMM.diagram.part.UMLDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/UmlMMDiagramFile.gif"
         extensions="umlmm_diagram"
         default="true"
         class="umlMM.diagram.part.UMLDiagramEditor"
         matchingStrategy="umlMM.diagram.part.UMLMatchingStrategy"
         contributorClass="umlMM.diagram.part.UMLDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="umlMM.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/UmlMMDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="umlMM.diagram.part.UMLCreationWizard"
  	     id="umlMM.diagram.part.UMLCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="UML.diagram.InitDiagram"
            nameFilter="*.umlmm"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="umlMM.diagram.part.UMLInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="UML.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="UMLPresentation">
         <Priority name="Lowest"/>
         <ViewId id="umlMM.diagram.part.UMLDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="UMLPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="umlMM.diagram.part.UMLDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="UMLRender">
         <Priority name="Lowest"/>
         <ViewId id="umlMM.diagram.part.UMLDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="umlMM.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="UML.diagram.general"
            name="%prefpage.UML.diagram.general"
            class="umlMM.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="UML.diagram.appearance"
            name="%prefpage.UML.diagram.appearance"
            category="UML.diagram.general"
            class="umlMM.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="UML.diagram.connections"
            name="%prefpage.UML.diagram.connections"
            category="UML.diagram.general"
            class="umlMM.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="UML.diagram.printing"
            name="%prefpage.UML.diagram.printing"
            category="UML.diagram.general"
            class="umlMM.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="UML.diagram.rulersAndGrid"
            name="%prefpage.UML.diagram.rulersAndGrid"
            category="UML.diagram.general"
            class="umlMM.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="UML.diagram"
            labelProvider="umlMM.diagram.sheet.UMLSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="UML.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="UML.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="umlMM.diagram.sheet.UMLPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="umlMM.diagram.navigator.UMLAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="umlMM.diagram.providers.UMLViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="UML"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,2002,3001"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="umlMM.diagram.providers.UMLEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="UML"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,2002,3001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001,5002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7001"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="umlMM.diagram.providers.UMLModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="umlMM.diagram.edit.parts.PackageEditPart" id="Package_1000"/>
         <object class="umlMM.diagram.edit.parts.ClassEditPart" id="Class_2001"/>
         <object class="umlMM.diagram.edit.parts.DatatypeEditPart" id="Datatype_2002"/>
         <context elements="Package_1000,Class_2001,Datatype_2002"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="umlMM.diagram.providers.UMLIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="umlMM.diagram.providers.UMLParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://es.uclm/umlMM">
         <metamodelType
               id="UML.diagram.Package_1000"
               name="%metatype.name.Package_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Package"
               edithelper="umlMM.diagram.edit.helpers.PackageEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://es.uclm/umlMM">
         <metamodelType
               id="UML.diagram.Class_2001"
               name="%metatype.name.Class_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Class"
               edithelper="umlMM.diagram.edit.helpers.ClassEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://es.uclm/umlMM">
         <metamodelType
               id="UML.diagram.Datatype_2002"
               name="%metatype.name.Datatype_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Datatype"
               edithelper="umlMM.diagram.edit.helpers.DatatypeEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://es.uclm/umlMM">
         <metamodelType
               id="UML.diagram.Attribute_3001"
               name="%metatype.name.Attribute_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Attribute"
               edithelper="umlMM.diagram.edit.helpers.AttributeEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://es.uclm/umlMM">
         <metamodelType
               id="UML.diagram.Associaton_4001"
               name="%metatype.name.Associaton_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Associaton"
               edithelper="umlMM.diagram.edit.helpers.AssociatonEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="UML.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="UML.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="UML.diagram.TypeContext">
         <elementType ref="UML.diagram.Package_1000"/>
         <elementType ref="UML.diagram.Class_2001"/>
         <elementType ref="UML.diagram.Datatype_2002"/>
         <elementType ref="UML.diagram.Attribute_3001"/>
         <elementType ref="UML.diagram.Associaton_4001"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="UML.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="UML.diagram"
           properties="isURIEditorInput"
           class="umlMM.diagram.part.UMLUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="UML.diagram.resourceContent"/>
			<contentExtension pattern="UML.diagram.domainResourceContent"/>
            <contentExtension pattern="UML.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="UML.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="UML.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="umlMM.diagram.navigator.UMLNavigatorContentProvider" 
            labelProvider="umlMM.diagram.navigator.UMLNavigatorLabelProvider"
            icon="icons/obj16/UmlMMDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="umlmm_diagram"/>
               </and>
               <instanceof value="umlMM.diagram.navigator.UMLAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="umlMM.diagram.navigator.UMLAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="UML.diagram.navigatorSorter" 
               class="umlMM.diagram.navigator.UMLNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="umlmm_diagram"/>
                  </and>
                  <instanceof value="umlMM.diagram.navigator.UMLAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="UML.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="umlMM.diagram.navigator.UMLDomainNavigatorContentProvider" 
            labelProvider="umlMM.diagram.navigator.UMLDomainNavigatorLabelProvider"
            icon="icons/obj16/UmlMMDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="umlmm"/>
               </and>
               <instanceof value="umlMM.diagram.navigator.UMLDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="umlMM.diagram.navigator.UMLDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="UML.diagram.navigatorActionProvider"
            class="umlMM.diagram.navigator.UMLNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="umlMM.diagram.navigator.UMLAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="UML.diagram.navigatorLinkHelper"
            class="umlMM.diagram.navigator.UMLNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="UML.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="umlMM.diagram.navigator.UMLAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="umlMM.diagram.part.UMLDiagramUpdateCommand"
         description="%update.diagram.description"
         id="umlMM.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="umlMM.diagram.updateDiagram"
         contextId="umlMM.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="UML.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="umlMM.diagram.part.UMLDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="umlMM.diagram.edit.parts.PackageEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="umlMM.diagram.part.UMLDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="UML.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="umlMM.diagram.part.UMLDiagramEditorID"
         defaultHandler="umlMM.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
